<div class="main-projects">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Projects</h1>
    <button mat-raised-button color="primary" (click)="openDialog()">Add Project</button>
  </div>

  <div class="mt-4">
    <mat-form-field>
      <mat-label>Workspace</mat-label>
      <mat-select [formControl]="selectedWorkspaceId">
        @for (workspace of workspaces; track workspace.id) {
        <mat-option [value]="workspace.id">{{workspace.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @if (loading) {
  <div class="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else {
  @if (projects.length > 0) {
  <div class="projects-list">
    @for (project of projects; track project.id) {
    <app-project-card [project]="project"
      (projectChange)="selectedWorkspaceId.value && getProjects(selectedWorkspaceId.value)"></app-project-card>
    }
  </div>
  } @else {
  <div class="no-projects">
    <p>No projects found</p>
  </div>
  }
  }

</div>