<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
    <div class="logo d-flex align-items-center gap-2">
      <img src="logo.png" alt="logo">
      <div class="logo-text">
        <span>{{ 'APP.TITLE' | translate }}</span>
      </div>
    </div>
    <mat-nav-list>
      @for (route of routesData; track route.path) {
      <a mat-list-item [routerLink]="route.path" (click)="navigateTo(route.path)"
        [routerLinkActive]="['mat-mdc-list-item-active']">
        <mat-icon matListItemIcon>{{route.icon}}</mat-icon>
        <span matListItemTitle>{{ 'APP.MENU.' + route.title | translate }}</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <div class="d-flex gap-2 align-items-center">
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ 'APP.TITLE' | translate }}</span>
      </div>

      <div class="d-flex gap-2 align-items-center">
        <button mat-icon-button (click)="toggleTheme()">
          <mat-icon>{{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
        <div class="language-buttons">
          <button mat-icon-button [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">
            <span class="language-button">EN</span>
          </button>
          <button mat-icon-button [class.active]="currentLang === 'fr'" (click)="switchLanguage('fr')">
            <span class="language-button">FR</span>
          </button>
        </div>
        @if (user) {
        <div>
          <app-notification></app-notification>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item disabled>
              @if (user.name) {
              <span>{{user.name}}</span>
              } @else {
              <span>{{user.email}}</span>
              }
            </button>
            <button mat-menu-item (click)="navigateTo('/invitations')">
              <mat-icon>mail</mat-icon>
              <span>{{ 'APP.USER.INVITATIONS' | translate }}</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>{{ 'APP.AUTH.LOGOUT' | translate }}</span>
            </button>
          </mat-menu>
        </div>
        }
      </div>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
