/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-success {
  background-color: green;
  color: #fff;
}

.mat-success:hover {
  background-color: #0056b3;
}

.success-snackbar {
  background-color: green;
  color: #fff;
}

.error-snackbar {
  background-color: red;
  color: #fff;
}

.warning-snackbar {
  background-color: yellow;
  color: #fff;
}

.red {
  color: red;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}

.delete-button {
  color: #b43229;
}

.delete-button:hover {
  color: #8b0000;
}

// Dark mode class
.dark-mode {
  background-color: #303030;
  color: #fff !important;

  // Override Material colors for dark mode
  .mat-toolbar {
    background-color: #424242;
    color: #fff;
  }

  .mat-card {
    background-color: #424242;
    color: #fff;
  }

  .mat-form-field-label {
    color: #fff;
  }

  .mat-input-element {
    color: #fff;
  }
  .content {
    background-color: #303030 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
  }
  .mat-mdc-card-outlined {
    border-color: #fff !important;
    background-color: #424242 !important;
  }
  .mat-mdc-card-outlined:hover {
    border-color: #fff !important;
    background-color: #424242 !important;
  }
  .mat-mdc-card-outlined:focus {
    border-color: #fff !important;
    background-color: #424242 !important;
  }
  .mat-mdc-card-outlined:active {
    border-color: #fff !important;
    background-color: #424242 !important;
  }
  .mat-mdc-card-title {
    color: #fff !important;
  }
  .mat-mdc-card-subtitle {
    color: #fff !important;
  }
  .mat-mdc-raised-button {
    background-color: #837e7e !important;
    color: #fff !important;
  }

  .mat-mdc-icon-button {
    color: #fff !important;
  }
  .mat-mdc-icon-button:hover {
    color: #fff !important;
  }
  .mat-icon {
    color: #fff !important;
  }

  .mat-drawer {
    background-color: #424242 !important;
    color: #fff !important;
  }
  .mat-mdc-list-item {
    color: #fff !important;
  }
  .mat-mdc-list-item:hover {
    color: #fff !important;
  }
  .mat-drawer-container {
    background-color: #424242 !important;
  }
  .mat-mdc-menu-content {
    background-color: #424242 !important;
  }
  .mat-mdc-menu-item {
    color: #fff !important;
  }
  .mdc-list-item__primary-text {
    color: #fff !important;
  }
  .mdc-list-item__secondary-text {
    color: #fff !important;
  }
  .login-container {
    background-color: #424242 !important;
  }
  .login-container:hover {
    background-color: #424242 !important;
  }
  .login-card {
    background-color: #424242 !important;
  }
  .register-card {
    background-color: #424242 !important;
  }

  p {
    color: #fff !important;
  }




}


