<button mat-icon-button class="notification-button" [matMenuTriggerFor]="notificationsMenu">
  <mat-icon>notifications</mat-icon>
  <span *ngIf="unreadCount > 0" class="notification-badge">{{unreadCount}}</span>
</button>

<mat-menu #notificationsMenu="matMenu" class="notification-menu">
  <div class="notification-header">
    <h3>Notifications</h3>
    <button mat-button (click)="markAllAsRead()" *ngIf="unreadCount > 0">
      Mark all as read
    </button>
  </div>

  <div class="notification-list">
    <div *ngIf="notifications.length === 0" class="no-notifications">
      No notifications
    </div>

    <div *ngFor="let notification of notifications" class="notification-item" [class.unread]="!notification.read"
      (click)="markAsRead(notification)">
      <div class="notification-content">
        <div class="notification-title">
          <mat-icon>assignment</mat-icon>
          <span>Task Assigned</span>
        </div>
        <div class="notification-message">
          You have been assigned to task "{{notification.data.taskTitle}}" in project
          "{{notification.data.projectName}}"
        </div>
        <div class="notification-meta">
          By {{notification.data.assignedBy}} • {{notification.createdAt | date:'short'}}
        </div>
      </div>
    </div>
  </div>
</mat-menu>